.app {
  max-width: 600px; /*Para que no ocupe toda la pantalla de ancho*/
  margin: 0 auto; /*Para centrarlo horizontalmente*/
  padding: 2rem; /*Para separar el contenido de los bordes*/
  /*Para alinear el contenido en columna*/
  display: flex;
  flex-direction: column;
}

.app__title {
  text-align: center; /*centrar el texto*/
  margin-bottom: 1rem; /*darle separación inferior*/
  font-size: 2rem;/*hacerlo más grande*/
  font-weight: 700;/*hacerlo más visible (peso)*/
}

/*contenedor existe para ordenar dos botones -> RESET y CLEAR*/
.app__actions {
  display: flex; /*para que estén en fila*/
  gap: 1rem; /*para separarlos*/
  margin-bottom: 1.5rem; /*espacio debajo*/
}

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
}
.form__group {
  flex: 1; /*hace que el input “crezca” y ocupe todo el espacio libre dentro del display*/
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: red;
}

.success{
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: green;
}

button{
  height: fit-content;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/*Dejamos limpio el ul*/
.list {
  list-style: none; /*quitar viñetas*/
  padding: 0;
  margin: 0;
}

.item {
  display: flex; /*texto izquierda / botón derecha*/
  justify-content: space-between; /* el texto se vaya a la izquierda y el botón se vaya a la derecha*/
  align-items: center;
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}